/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Back Icon */
.back-icon:hover {
  background-color: #f2f2f2;
  color: #730073;
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e6e6fa;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}
.registration-form{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    height: 80vh;
    margin: 150px;
    display: flex;
    padding: auto;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
  }
  
  .container {
    background-color:  white;
    padding: 50px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
   align-items: center;
   margin-top: -290px;
   font-weight: 0;
   
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #4a154b;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #876666;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .register-button {
    background-color: #5a005a;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin-right: 5px;
  }
  
  .register-button:hover {
    background-color: #730073;
  }
  .button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
  }

  .cancel-button {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin-left: 5px;
}



.cancel-button:active {
    background-color: #b3b3b3;
    color: white; 
}

